* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

nav {
    padding-top: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav h1 {
    margin-bottom: .3em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    gap: 2px;
}

.square-container {
    display: flex;
    margin-top: 1em;
    border: 1px solid rgb(79, 79, 79);
    border-radius: 25px;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2px
}

.column .row {
    flex: 1;
    filter: blur(0.3px);
}

button {
    text-align: center;
    padding: 10px 20px;
    background: rgba(191, 168, 168, 0.115);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

button:hover {
    background: rgba(127, 126, 126, 0.4);
}

