* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100vh;
    gap: 2px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2px
}

.column .row{
    border: 1px solid black;
    flex: 1;
}